@import "@ant-design/pro-list/dist/list.css";
.app-header {
  /* background-color: #333; */
}
.app-header .ant-page-header-heading-extra {
  flex: 1;
}
.app-header .ant-menu-horizontal {
  border-bottom: none;
}

.app-header .ant-space {
  width: 100%;
}

.app-header .ant-space-item:nth-child(2) {
  margin-right: auto;
}

.app-content {
  padding: 0 40px;
}

.app-content .text {
  font-size: 20px;
}

.watch-card .ant-pro-table-alert {
  display: none;
}

.simple-card {
  border: "1px solid #ddd";
  border-radius: "5px";
}

.star-active {
  color: #f1c40f;
}
