details summary {
  list-style: none;
}
.app-header .ant-page-header-heading-extra {
  flex: 1;
}
.app-header .ant-menu-horizontal {
  border-bottom: none;
}

.app-header .ant-space {
  width: 100%;
}

.app-header .ant-space-item:nth-child(2) {
  margin-right: auto;
}
